<!DOCTYPE html>
<html lang="en" ng-app="<%= pageData.appName  %>">
<head>
	<meta charset="UTF-8">
	<title>League of Data</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<script>
	var matchupData = {};
</script>
<body>
	<div class="primary-hue">
		<div class="main-controller">
			<div class="navigation-elem">
				<div class="inner-nav clearfix">
					<ul class="nav navbar-nav">
						<li class="first-button <%if (pageData.name === 'home') { %> active <% } %>"<a href="/">Home</a></li>
						<li class="<%if (pageData.name === 'stats') { %> active <% } %>"><a href="/statistics/">Statistics</a></li>
					</ul>
					<div class="navbar navbar-inverse" role="navigation">
						<div class="container-fluid">
							<div class="icon-holder">
								<a class="navbar-brand"href="/"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</body>
