<h2 class="line-chart-header">Win Rate % By Patch</h2>
<div class="chart-holder">
  <canvas tc-chartjs-line chart-data="patchRate.data" chart-options="patchRate.settings" id="canvas3" height="150" width="300"></canvas>
</div>
<div tc-chartjs-legend chart-legend="playRate"></div>
<h2 class="line-chart-header">Play Rate % By Patch</h2>
<div class="chart-holder">
  <canvas tc-chartjs-line chart-data="patchPlay.data" chart-options="patchPlay.settings" chart-legend="playRate" id="canvas" height="150" width="300"></canvas>
</div>
<div tc-chartjs-legend chart-legend="playRate"></div>